<div class="stats-divs">
    <div class="table-stats">
        <button ng-click="toBeginning()">Do początku badania</button>
        <table class="table-striped">
            <thead><h2>Wyniki - tablica</h2></thead>
            <tbody>
                <tr>
                    <th>ID</th><th>Wiek</th><th>Płeć</th><th>Wady wzroku</th>
                    <th ng-repeat="lambda in lambdas">{{lambda}}</th>
                </tr>
                <tr ng-repeat="record in data" ng-if=" $index > 0 ">
                    <td>{{record.id}}</td>
                    <td>{{record.info.age}}</td>
                    <td>{{record.info.gender}}</td>
                    <td>
                        <table>
                            <tr>
                                <th>Wada</th><th>OL</th><th>OP</th>
                            </tr>
                            <tr ng-repeat="(name,eye) in record.info.eyes">
                                <td ng-if="eye.right || eye.left">{{name}}</td>
                                <td ng-if="eye.right || eye.left">{{eye.exactLeft}}</td>
                                <td ng-if="eye.right || eye.left">{{eye.exactRight}}</td>
                            </tr>
                        </table>
                    </td>
                    <td ng-repeat="result in record.info.acuity">
                        {{result[1] | number: 3}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="last-result">
            <h2>Wykres - ostatni wynik</h2>
        </div>
        <div class="stats-chart">
            <h2>Statystyki badań</h2>
        </div>
    </div>
</div>