<div class="stats-divs">
    <div class="table-stats">
        <button ng-click="toBeginning()">Do początku badania</button>
        <table class="table-striped">
            <thead><h3>Dotychczasowe wyniki</h3></thead>
            <tbody>
                <tr>
                    <th>ID</th><th>Wiek</th><th>Płeć</th><th>Wady wzroku</th>
                    <th ng-repeat="lambda in lambdas"><span style="color: {{lambda}}">{{lambda}}</span></th>
                </tr>
                <tr ng-repeat="record in data">
                    <td>{{record.id}}</td>
                    <td>{{record.info.age || 'N/A'}}</td>
                    <td>{{record.info.gender || 'N/A'}}</td>
                    <td>{{record.info.eyes.extra || 'N/A'}}</td>
                    <td ng-repeat="lambda in lambdas">
                        {{record.info.acuity[lambda] | number: 3 | exportableNumber}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>